.detail {
  padding: 3rem 0;
}

.detailContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.detail img {
  width: 100%;
  border-radius: 0.5rem;
}

.detail p {
  color: grey;
  margin: 1rem 0;
}
